<%= form_for(@borrowed_book) do |f| %>
  <% if @borrowed_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrowed_book.errors.count, "error") %> prohibited this borrowed_book from being saved:</h2>

      <ul>
      <% @borrowed_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :borrower_id %><br>
    <%= f.number_field :borrower_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
