<p id="notice"><%= notice %></p>

<h1>Listing Borrowed Books</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Borrower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrowed_books.each do |borrowed_book| %>
      <tr>
        <td><%= borrowed_book.book_id %></td>
        <td><%= borrowed_book.borrower_id %></td>
        <td><%= link_to 'Show', borrowed_book %></td>
        <td><%= link_to 'Edit', edit_borrowed_book_path(borrowed_book) %></td>
        <td><%= link_to 'Destroy', borrowed_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrowed book', new_borrowed_book_path %>
