<p id="notice"><%= notice %></p>

<h1>Borrowed Books List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Book</th>
      <th class="centered">Borrower</th>
      <th class="centered">Due Date and Time</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrowed_books.each do |borrowed_book| %>
      <tr>
        <td><%= borrowed_book.book.title %></td>
        <td class="centered"><%= borrowed_book.borrower.name %></td>
        <td class="centered"><%= borrowed_book.due_date.strftime("%H:%M %p, %A, %B %d, %Y (%Z)") %></td>
        <td class="centered">
          <%= link_to borrowed_book, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"> Destroy</span>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
