<h1>Checkout Status</h1>

<table class="table">
  <thead>
    <tr>
      <th>Book</th>
      <th class="centered">Borrower</th>
      <th class="centered">Date checked out</th>
      <th class="centered">Due date and time</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @borrowed_book.book.title %></td>
        <td class="centered"><%= @borrowed_book.borrower.name %></td>
        <td class="centered"><%= @borrowed_book.created_at.strftime("%H:%M %p, %A, %B %d, %Y (%Z)") %></td>
        <td class="centered"><%= @borrowed_book.due_date.strftime("%H:%M %p, %A, %B %d, %Y (%Z)") %></td>
        <td class="centered">
          <%= link_to @borrowed_book, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"> Destroy</span>
          <% end %>
        </td>

      </tr>
  </tbody>
</table>
<%= link_to 'Back', borrowed_books_path %>
