<p>
  <%= image_tag @book.image.url(:large), alt: @book.title %>
</p>

<h2><%= @book.title %></h2>

<p>
  <strong><%= "Author".pluralize(@book.authors.count) %>:</strong>
  <%= @book.authors.map { |author| link_to(author.name, author) }.join(", ").html_safe %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @book.description %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Published on:</strong>
  <%= @book.published_on %>
</p>

<p>
  <strong>Borrowing Status:</strong>
  <% if @book.borrowers.empty? == true%>
    <%= "The book is available, you can lend it to someone by clicking here:" %>
    <%= link_to new_borrowed_book_path(book_id: @book.id) do %>
      <span class="glyphicon glyphicon-check"> Checkout</span>
    <% end %>
  <% else %>
    <%= "The book is borrowed by #{@book.borrowers.first.name}" %>
    <p>
      <%= link_to borrowed_book_path do %>
        <span class="glyphicon glyphicon-book"> See Checkout</span>
      <% end %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
