<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar" %>

<% if notice %>
  <div id="notice_wrapper">
    <p id="notice"><%= notice %></p>
  </div>
<% elsif alert %>
  <div id="notice_wrapper">
    <p id="alert"><%= alert %></p>
  </div>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
